:host {
  color: var(--cl-secondary);
  display: flex;
  gap: 1rem;
  align-items: center;
  flex: 1;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
  }

  input,
  button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;

    &:focus {
      outline: none;
    }
  }

  input {
    background-color: var(--cl-light);
    flex: 1;
  }

  button {
    text-transform: uppercase;
    font-weight: bold;
    background: var(--cl-secondary);
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background 0.2s, color 0.2s;

    &:hover {
      background: var(--cl-light);
      color: var(--cl-secondary);
    }
  }
}
