:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;

  .clients {
    background-color: var(--cl-tertiary);

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      max-height: 40vh;
      overflow: auto;
      gap: 6rem;
      justify-content: space-between;
      padding: 3rem 6rem;
    }

    &-controller {
      background-color: var(--cl-primary);
      padding: 1rem;
      display: flex;
      align-items: flex-end;

      button {
        flex: 1;
      }
    }
  }
}
