<app-chat-screen
  [messages]="messages"
  [currentUser]="currentUser.name"
></app-chat-screen>

<div class="clients">
  <div ngClass="clients-wrapper">
    <app-chat-client
      *ngFor="let client of clients"
      (messageEvent)="addMessage($event)"
      (removeEvent)="removeClient(client)"
      [user]="client"
      [isCurrentUser]="client === currentUser"
    ></app-chat-client>
  </div>
  <div ngClass="clients-controller">
    <button (click)="addClient()">Add client</button>
  </div>
</div>
