@import "~normalize.css";
:root {
  --cl-light: #f1f6f9;
  --cl-primary: #394867;
  --cl-secondary: #212a3e;
  --cl-tertiary: #9ba4b5;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  overflow: hidden;
  height: 100vh;
  font-family: monospace;
}

input,
button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;

  &:focus {
    outline: none;
  }
}

input {
  background-color: var(--cl-light);
  flex: 1;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  background: var(--cl-secondary);
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s, color 0.2s;

  &:hover {
    background: var(--cl-light);
    color: var(--cl-secondary);
  }
}
